@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Playfair+Display:wght@400;500;600;700;900&display=swap");

/* BASE */
body {
  color: white;
  font-family: gilroy;
  background-color: #0b1d26;
  background-image: url(../img/bg/bg.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.row {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.container-wide {
  margin: 0 auto;
  width: 1790px;
  padding: 0 15px;
}

/* HEADER */

.header {
  padding-top: 64px;
}

.logo {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 700;
}

.nav ul {
  display: flex;
  list-style-type: none;
}

.nav li + li {
  margin-left: 40px;
}

.nav a {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.2s ease-in;
}

.nav a:hover {
  color: #fbd784;
  fot-weight: bold;
  font-size: 18px;
}

.account {
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s ease-in;
}

.account:hover {
  color: #fbd784;
}

.nav-wrapper {
  margin-bottom: 198px;
}
